"mineru[all]"
langchain
sentence-transformers 
pypdf
yandexcloud 
yandex-chain
langchain-text-splitters 
langchain-community 
chromadb 
sentence-transformers 
pypdf
python-dotenv
langchain-core 
yandex-chain
langchain-mineru
yandex-speechkit 
pyaudio
yandex-ai-studio-sdk
silero-vad
sounddevice